In [1]:
import pandas as pd
import os
from tqdm.notebook import tqdm

# Autism

In [3]:
asd_data = pd.read_csv("data/gwas_statistics/autism/PGC.ASD.euro.all.25Mar2015.txt", sep="\t")
asd_data

/home/gvisona/anaconda3/envs/ml/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SNP,CHR,BP,A1,A2,OR,SE,P,INFO,EUR_FRQ
0,rs3107975,1,55326,T,C,1.072080,0.1342,0.6040,0.469,0.990765
1,rs147589465,1,240789,T,G,0.891990,0.1496,0.4450,0.436,0.98681
2,rs60791385,1,526970,T,C,0.824400,0.1711,0.2593,0.420,0.994723
3,chr1_532258_D,1,532258,D,I,1.260990,0.1527,0.1288,0.437,0.01583
4,chr1_540540_D,1,540540,I,D,0.850870,0.1836,0.3788,0.438,0.98549
...,...,...,...,...,...,...,...,...,...,...
9499584,chrX_154927197_D,23,154927197,D,I,1.038627,0.0429,0.3776,999.000,0.2069
9499585,rs645904,23,154927199,T,C,1.039978,0.0429,0.3606,999.000,0.2069
9499586,rs557132,23,154929412,T,C,1.039770,0.0429,0.3621,999.000,0.2086
9499587,chrX_154929952_D,23,154929952,D,I,1.040290,0.0429,0.3564,999.000,0.2086
9499588,rs781880,23,154930230,A,G,0.958390,0.0431,0.3242,999.000,0.7914

In [6]:
asd_data.sort_values(by="P")

,SNP,CHR,BP,A1,A2,OR,SE,P,INFO,EUR_FRQ
5464465,rs7026354,9,119184126,A,G,1.17222,0.0274,6.703000e-09,1.020,.4868
5464566,rs10983167,9,119218537,A,G,1.14970,0.0276,4.115000e-07,1.010,.4736
5464467,rs12338876,9,119184304,T,C,0.87328,0.0276,8.814000e-07,1.030,.5515
5039852,rs7836146,8,119095022,A,C,0.84866,0.0334,9.161000e-07,1.010,0.2058
5039851,rs7835763,8,119094919,A,T,1.17798,0.0334,9.220000e-07,1.000,0.7929
...,...,...,...,...,...,...,...,...,...,...
4032435,rs73015405,6,161547956,A,G,1.00000,0.1475,1.000000e+00,0.920,0.007916
1619146,chr3_31717756_D,3,31717756,D,I,1.00000,0.0291,1.000000e+00,0.956,0.3826
1537085,chr3_9063099_I,3,9063099,I,D,1.00000,0.0744,1.000000e+00,0.626,0.04354
6575233,rs61917196,12,29557579,A,G,1.00000,0.0277,1.000000e+00,1.010,0.4301
5295171,rs28768758,9,44232945,T,C,1.00000,0.1491,1.000000e+00,0.994,.215

In [5]:
with open("data/gwas_statistics/autism/pegasus_autism_input_data.txt", "w") as f:
    for i, row in tqdm(asd_data.iterrows()):
        if not row["SNP"].startswith("rs"):
            continue
        f.write("{}\t{}\n".format(row["SNP"], row["P"]))

0it [00:00, ?it/s]

In [7]:
del asd_data

# Schizophrenia

In [2]:
sch_data = pd.read_csv("data/gwas_statistics/schizophrenia/CLOZUK_PGC2noclo.METAL.assoc.dosage.fix", sep=" ")

In [3]:
sch_data

                SNP  CHR         BP A1 A2       OR        SE       P DIRECTION
0        rs10000000    4   40088896  A  T  1.00170  0.021973  0.9394        +-
1        rs10000003    4   57561647  A  G  0.99938  0.010505  0.9528        +-
2        rs10000005    4   85161558  G  A  1.01050  0.009810  0.2889        -+
3        rs10000006    4  108826383  T  C  0.96796  0.026254  0.2149        +-
4        rs10000008    4  172776204  C  T  0.93949  0.044015  0.1561        +-
...             ...  ...        ... .. ..      ...       ...     ...       ...
8064794   rs9999993    4   98562671  T  A  1.01950  0.009508  0.0425        ++
8064795   rs9999995    4  185171608  A  G  0.98360  0.017495  0.3446        +-
8064796   rs9999996    4   69782467  C  A  1.01690  0.015204  0.2715        -+
8064797   rs9999997    4  163870478  G  A  1.00280  0.009546  0.7723        +-
8064798   rs9999998    4  117161848  C  T  0.98072  0.012818  0.1288        --

[8064799 rows x 9 columns]

In [12]:
len(sch_data["SNP"].unique())

8064251

In [4]:
with open("data/gwas_statistics/schizophrenia/pegasus_schizophrenia_input_data.txt", "w") as f:
    for i, row in tqdm(sch_data.iterrows()):
        if not row["SNP"].startswith("rs"):
            continue
        f.write("{}\t{}\n".format(row["SNP"], row["P"]))

0it [00:00, ?it/s]

# Merging results

In [11]:
autism_results = [f for f in os.listdir("PEGASUS/") if "autism_chr" in f]
autism_results = sorted(autism_results, key=lambda x: int(x.split("chr")[1].split(".")[0]))
autism_results

res = pd.DataFrame()
for fname in autism_results:
#     if "autism_chr" in fname:
#         print(fname)
    df = pd.read_csv("PEGASUS/"+fname, sep=" ") 
    res = pd.concat((res, df))
    
res.to_csv("processed_data/gwas_gene_pvals/autism/PEGASUS_autism_gwas_data.csv", index=False)
res

,Chr,Gene,nSNPs,Start,Stop,Test-Stat,Pvalue,Error,Best-SNP,SNP-pvalue
0,1,A3GALT2,89,33772366.0,33786699.0,22.009437,0.926364,1.705379e-14,rs3935892,0.237700
1,1,AADACL3,134,12776117.0,12788726.0,145.008729,0.335202,1.091730e-14,rs848578,0.015280
2,1,AADACL4,117,12704565.0,12727097.0,65.459015,0.841969,1.320226e-14,rs7515911,0.116800
3,1,ABCA4,346,94458393.0,94586705.0,569.682302,0.041067,1.843391e-14,rs3789441,0.000218
4,1,ABCB10,87,229652328.0,229694442.0,43.383378,0.694219,1.140293e-14,rs2295625,0.056060
...,...,...,...,...,...,...,...,...,...,...
408,22,ZNF280A,77,22868060.0,22874613.0,60.944976,0.548565,6.593368e-15,rs2266984,0.038640
409,22,ZNF280B,77,22838771.0,22863505.0,41.519041,0.784272,1.398120e-14,rs2266984,0.038640
410,22,ZNF70,75,24083771.0,24093279.0,28.117150,0.933295,1.881974e-14,rs5759985,0.102600
411,22,ZNF74,83,20748479.0,20762752.0,28.116706,0.955742,1.798458e-14,rs5752939,0.134400
412,22,ZNRF3,236,29279889.0,29453475.0,374.857719,0.111884,2.251158e-14,rs9613768,0.002405

In [12]:
sch_results = [f for f in os.listdir("PEGASUS/") if "schizophrenia_chr" in f]
sch_results = sorted(sch_results, key=lambda x: int(x.split("chr")[1].split(".")[0]))
sch_results

res = pd.DataFrame()
for fname in sch_results:
#     if "autism_chr" in fname:
#         print(fname)
    df = pd.read_csv("PEGASUS/"+fname, sep=" ") 
    res = pd.concat((res, df))
    
res.to_csv("processed_data/gwas_gene_pvals/schizophrenia/PEGASUS_schizophrenia_gwas_data.csv", index=False)
res

,Chr,Gene,nSNPs,Start,Stop,Test-Stat,Pvalue,Error,Best-SNP,SNP-pvalue
0,1,A3GALT2,89,33772366.0,33786699.0,242.644950,0.039346,1.017755e-13,rs12034407,1.400000e-03
1,1,AADACL3,133,12776117.0,12788726.0,181.875486,0.213243,2.296784e-14,rs3000870,6.200000e-03
2,1,AADACL4,115,12704565.0,12727097.0,108.047041,0.431211,4.167978e-15,rs3000870,6.200000e-03
3,1,ABCA4,346,94458393.0,94586705.0,449.555425,0.162139,1.278153e-14,rs581244,2.000000e-03
4,1,ABCB10,85,229652328.0,229694442.0,29.481566,0.843688,1.592276e-14,rs348326,8.830000e-02
...,...,...,...,...,...,...,...,...,...,...
403,22,ZDHHC8,123,20119364.0,20133974.0,859.926651,0.000004,1.008769e-13,rs8137258,9.870000e-07
404,22,ZMAT5,146,30126944.0,30162969.0,620.945084,0.003213,7.477507e-14,rs737932,1.000000e-03
405,22,ZNF70,76,24083771.0,24093279.0,133.184031,0.095392,2.946103e-14,rs17629631,6.700000e-03
406,22,ZNF74,82,20748479.0,20762752.0,64.069484,0.576769,6.663133e-15,rs5749316,2.820000e-02
407,22,ZNRF3,234,29279889.0,29453475.0,1077.888639,0.000094,3.782169e-14,rs6519766,5.880000e-05

In [ ]:
res.to_